

  body {
   
    color:rgb(0, 0, 0);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:beige;
  }

  img{
    border-radius: 20%;
  }


/*heeaders */

 header h1 {
  font-size: 20px; 
 }

 header h2{
  text-align: center;
  font-size: 60px;
  margin:5px;
 }

/* navigatie*/

nav {

  background-color: #686868;
  color: white;
  text-align: center;
  background-image: linear-gradient(rgb(43, 30, 19), rgb(104, 52, 10));
  
}



nav a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 17px;
 
}

nav a:hover {
  background-color: rgb(43, 30, 19);
  color:bisque;
}

nav a.active {
  background-color:rgb(99, 64, 12);
  color: white;
}

@media screen and (max-width: 700px) {
  nav a{
      display: block;
  }
}


 /*index*/

 article{
  font-size: 20px;

 }

 /*inreg*/

 legend{
  font-size: 20px; 

 }
 
 .fil{
  box-sizing: border-box;
  border: 4px solid rgb(22, 59, 5);
  font-size: 20px;

 }

 .fil input {

  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 15px; 
  width: 150px;
  height: 3px; 
  }

  input[type=text ]:focus {
    border: 3px solid #555;
  }
  input[type=password ]:focus {
    border: 3px solid #555;
  }
  input[type=tel ]:focus {
    border: 3px solid #555;
  }
  input[type=email ]:focus {
    border: 3px solid #555;
  }
  input[type=url ]:focus {
    border: 3px solid #555;
  }

  textarea {
    width: 300px;
    height: 100px;
    padding: 6px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }

  select {
    width: 150px;
    padding: 18px 22px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;

  }

  #button1 {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(114, 117, 114);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  

  /*video*/


  
 .flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cont1 {
  flex: 100%;

  color: black;
  width: 30px;
  margin: 10px;
  text-align: center;
 
}



  form input
  {
    border-color: rgb(70, 45, 160);
    background-color: rgb(180, 176, 149);
    border: 3px;
    padding: 12px; 
    width: 150px;
    height: 3px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif

  }

 /*despre html*/


 .pseud::first-line {
  color: #ff0000;
  font-variant: small-caps;
}


  .tb1 {
    font-family: Arial, Helvetica, sans-serif;
    border-style: double;
    border-collapse: collapse;
    width: 300px;
    background-color: darkgrey
    ;
    
  }
  
  .tb1 td, .tb1 th {
    border: 1px solid #ddd;
    padding: 15px;

  }

  .tb1 tr:hover {background-color: #ddd;}
  
  @font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
 }
 
 .tb1  {
    font-family: myFirstFont;
 }



 /*invat js*/

.stiluri{
  display: inline-block;
  padding: 10px 25px;
  color: rgb(230, 227, 223);
  background-color: rgb(71, 55, 3);
  border-radius: 15px;

}



.column1
{
  border-style: solid;
  border-color: tomato;
} 

.column2
{
  border-style: solid;
  border-color: blueviolet;
} 

.column3
{
  border-style: solid;
  border-color: black;
} 

.column4
{
  border-style: solid;
  border-color: green;
}


canvas {
  border:3px solid black;
}


.stil0 {
  flex: 10%;
  padding: 2px;
}

@media screen and (max-width: 700px) {
  .stil0{
      display: flex;
  }
}

.stil1 {
  display: flex;
  flex: 10%;
  padding: 2px;
}

@media screen and (max-width: 700px) {
  .stil1{
      display: flex;
  }
}

.stil3 {
  display: inline-grid;
  grid-template-columns: 700px 700px ;
  grid-gap: 10px;
  color: #444;
  width: fit-content;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
}

@media screen and (max-width: 700px) {
  .stil3{
      display: inline-grid;
      width: fit-content;
  }
}


.column1 {
  flex: 10%;
  padding: 2px;

}

.column2 {
  flex: 10%;
  padding: 2px;
}

body {
  margin: 40px;
}


.tab1 {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  width: auto;
  
}

.tab1 td, .tab1 th {
  border: 1px solid #ddd;
  padding: 15px;

}

.tab1 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;


}

/* Persoane*/

#demo1 {
  background-color: #f3efed;
  border: 3px solid purple;
}

#demo1 td, #demo1 th {
  border: 1px solid purple;
  padding: 15px;}


  /*verifica*/

  #txt1{
    
    border-radius: 150px;
    border: 2px solid black;
    padding: 5px;
    

  }

  #txt2{
    border-radius: 150px;
    border: 2px solid black;
    padding: 5px;
  }

  #but{
    display: inline-block;
    padding: 10px 20px;
    color: rgb(230, 227, 223);
    background-color: rgb(71, 55, 3);
    border-radius: 10px;
  
  }